//- +lazy-bg({
//- 	pic: 'image.jpg',
//- 	mod: 'prod-pic'
//- })

mixin lazy-bg(data)
	.lazy-bg(
		class= data.mod
		style=`background-image: url("images/placeholder/${data.pic}")`
		data-bg=`url(images/${data.pic})`
		role="img" 
		aria-label="Table flip" 
		title="title"
	)&attributes(attributes)